In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
import os

if "JAVA_HOME" not in os.environ:
    os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64/"
spark = SparkSession.builder.appName("example").getOrCreate()

your 131072x1 screen size is bogus. expect trouble
23/12/02 02:52:00 WARN Utils: Your hostname, DESKTOP-FGNDTTH resolves to a loopback address: 127.0.1.1; using 172.24.38.93 instead (on interface eth0)
23/12/02 02:52:00 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/12/02 02:52:01 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
df = spark\
.range(5)\
.toDF("a")\
.withColumn("is_odd", (col("a") % 2).cast("boolean"))\

df.toPandas()

   a  is_odd
0  0   False
1  1    True
2  2   False
3  3    True
4  4   False

In [3]:
df\
.repartition(2)\
.write\
.format("csv")\
.option("header", True)\
.mode("overwrite")\
.save("odd_even")

In [5]:
spark\
.read\
.option("header", True)\
.csv("odd_even")\
.where("is_odd = true")\
.toPandas()

   a is_odd
0  1   true
1  3   true